div#header
    nav(class="navbar navbar-expand navbar-dark bg-primary")
        div(class="collapse navbar-collapse" id="navbar1    ")
            ul(class="navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(class="nav-link" href="/" style="font-size:14px") Home
                    li(class="nav-item active")
                    if user 
                        a(class="nav-link" id="Login" href="/logout" style="font-size:14px") Logout
                                            li(class="nav-item active")
                        a(class="nav-link" href="/profile" style="font-size:14px") Profile
                                             li(class="nav-item active")
                        a(class="nav-link" href="/chat" style="font-size:14px") Chat
                    else
                         a(class="nav-link" id="Login" href="/login" style="font-size:14px") Login
