extends layout

block content
 div(class='container searchContainer')
        div(class='search card card-body')
            h5.text-center Profile
            .card.text-black(style="max-width: 100%;")
                h3.text-center=user.id
                    img(src=""+user.photos style="width:200px;" class="card")
                    p=JSON.stringify(user)